apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: mc-tikiba-survival
  name: mc-tikiba-survival
  annotations:
    configmap.reloader.stakater.com/reload: "mc-tikiba-survival-config"
spec:
  replicas: 1
  # レプリカ数の制御を ScaledObject に任せるため、 replicas は指定しない
  # 参考: https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#replicas
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: mc-tikiba-survival
  template:
    metadata:
      labels:
        app: mc-tikiba-survival
    spec:
      initContainers:
      - name: mc-tikiba-restore-backup
        image: itzg/mc-backup
        command: ["restore-tar-backup"]
        volumeMounts:
        - name: mc-tikiba-raw
          mountPath: /data
        - name: mc-tikiba-backups
          mountPath: /backups
          subPath: tikiba/backups/survival
      containers:
      - name: mc-tikiba-main
        image: itzg/minecraft-server:java17
        env:
        - name: EULA
          value: "TRUE"
        - name: MEMORY
          value: 4G
        - name: DIFFICULTY
          value: "hard"
        - name: MODE
          value: "survival"
        - name: RCON_PASSWORD
          value: "minecraft"
        - name: VERSION
          value: 1.20.1
        - name: TYPE
          value: FABRIC
        - name: OPS
          value: topi_banana,tikiba7
        - name: MODS
          value: >-
            https://cdn-raw.modrinth.com/data/TQTTVgYE/versions/K0Wj117C/fabric-carpet-1.20-1.4.112+v230608.jar,
            https://cdn-raw.modrinth.com/data/EsAfCjCV/versions/xcauwnEB/appleskin-fabric-mc1.20.1-2.5.1.jar,
            https://cdn-raw.modrinth.com/data/lfHFW1mp/versions/IGl8mdYv/journeymap-1.20.1-5.9.15-fabric.jar,
            https://mediafilez.forgecdn.net/files/4586/218/worldedit-mod-7.2.15.jar,
            https://cdn-raw.modrinth.com/data/P7dR8mSH/versions/TpZ2i93f/fabric-api-0.90.4+1.20.1.jar,
            https://cdn-raw.modrinth.com/data/bfneejKo/versions/chakoRye/syncmatica-1.20.1-0.3.10.jar,
            https://cdn-raw.modrinth.com/data/8dI2tmqs/versions/XJmDAnj5/FabricProxy-Lite-2.6.0.jar,
            https://cdn-raw.modrinth.com/data/cUhi3iB2/versions/fzhSybEp/tabtps-fabric-mc1.20.1-1.3.18.jar
          #  https://cdn-raw.modrinth.com/data/P7dR8mSH/versions/ZI1BEw1i/fabric-api-0.90.4+1.20.2.jar,
          #  https://cdn-raw.modrinth.com/data/1u6JkXh5/versions/ans4Koju/worldedit-bukkit-7.3.0-beta-02.jar,
          #  https://cdn-raw.modrinth.com/data/lfHFW1mp/versions/O5jKsqSz/journeymap-1.20.2-5.9.15-fabric.jar,
          #  https://cdn-raw.modrinth.com/data/VX3TgwQh/versions/XiXJeZ6p/carpet-extra-1.20.2-1.4.118.jar,
          #  https://cdn-raw.modrinth.com/data/TQTTVgYE/versions/xksYKkvF/fabric-carpet-1.20.2-1.4.121+v231011.jar,
          #  https://cdn-raw.modrinth.com/data/EsAfCjCV/versions/JNKPokGG/appleskin-fabric-mc1.20.2-2.5.1.jar,
          #  https://cdn-raw.modrinth.com/data/cUhi3iB2/versions/bQI8KpYd/tabtps-fabric-mc1.20.2-1.3.21.jar
        - name: COPY_CONFIG_DEST
          value: /data
        - name: TZ
          value: Asia/Tokyo
        ports:
        - containerPort: 25565
          name: mc-tikiba
        volumeMounts:
        - name: mc-tikiba-config
          mountPath: /config/server.properties
          subPath: server.properties
        - name: mc-tikiba-config
          mountPath: /config/config/FabricProxy-Lite.toml
          subPath: FabricProxy-Lite.toml
        - name: mc-tikiba-raw
          mountPath: /data
        resources:
          requests:
            memory: 4G
      - name: mc-tikiba-backup
        image: itzg/mc-backup
        command:
        - "curl"
        - "-SsL"
        - "https://raw.githubusercontent.com/topi-banana/k8s_infra/main/scripts/backup.sh"
        - "|"
        - "sh"
        env:
        - name: BACKUP_NAME
          value: "tikiba-survival"
        - name: BACKUP_INTERVAL
          value: "1h"
        - name: RCON_PASSWORD
          value: "minecraft"
        - name: RCON_RETRIES
          value: "-1"
        - name: INITIAL_DELAY
          value: "0"
        - name: TZ
          value: Asia/Tokyo
        volumeMounts:
        - name: mc-tikiba-raw
          mountPath: /data
        - name: mc-tikiba-backups
          mountPath: /backups
          subPath: tikiba/backups/survival
      volumes:
        - name: mc-tikiba-config
          configMap:
            name: mc-tikiba-survival-config
        - name: mc-tikiba-raw
        - name: mc-tikiba-backups
          persistentVolumeClaim:
            claimName: root-pvc