apiVersion: v1
kind: Service
metadata:
  name: mc-tikiba-svc
spec:
  selector:
    app: mc-tikiba
  ports:
  - port: 25565
    targetPort: mc-tikiba
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: mc-server-tikiba
  name: mc-server-tikiba
  annotations:
    configmap.reloader.stakater.com/reload: "mc-server-tikiba-config"
spec:
  replicas: 1
  # レプリカ数の制御を ScaledObject に任せるため、 replicas は指定しない
  # 参考: https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#replicas
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: mc-server-tikiba
  template:
    metadata:
      labels:
        app: mc-server-tikiba
    spec:
      initContainers:
        - name: mc-tikiba-restore-backup
          image: itzg/mc-backup
          volumeMounts:
            - name: mc-tikiba-raw
              mountPath: /data
            - name: mc-tikiba-buckups
              mountPath: /backups
          command: restore-tar-backup
      containers:
        - name: mc-tikiba-main
          image: itzg/minecraft-server:java17
          env:
            - name: EULA
              value: "TRUE"
            - name: MEMORY
              value: 4G
            - name: DIFFICULTY
              value: "hard"
            - name: MODE
              value: "survival"
            - name: VERSION
              value: 1.20.2
            - name: TYPE
              value: FABRIC
            - name: RCON_PASSWORD
              value: "minecraft"
            - name: OPS
              value: topi_banana,tikiba7
            - name: MODS
              value: >-
                https://cdn-raw.modrinth.com/data/P7dR8mSH/versions/ZI1BEw1i/fabric-api-0.90.4+1.20.2.jar,
                https://cdn-raw.modrinth.com/data/1u6JkXh5/versions/ans4Koju/worldedit-bukkit-7.3.0-beta-02.jar,
                https://cdn-raw.modrinth.com/data/lfHFW1mp/versions/O5jKsqSz/journeymap-1.20.2-5.9.15-fabric.jar,
                https://cdn-raw.modrinth.com/data/VX3TgwQh/versions/XiXJeZ6p/carpet-extra-1.20.2-1.4.118.jar,
                https://cdn-raw.modrinth.com/data/TQTTVgYE/versions/xksYKkvF/fabric-carpet-1.20.2-1.4.121+v231011.jar,
                https://cdn-raw.modrinth.com/data/bfneejKo/versions/chakoRye/syncmatica-1.20.1-0.3.10.jar,
                https://cdn-raw.modrinth.com/data/EsAfCjCV/versions/JNKPokGG/appleskin-fabric-mc1.20.2-2.5.1.jar
            - name: COPY_CONFIG_DEST
              value: /data
            - name: TZ
              value: Asia/Tokyo
          ports:
            - containerPort: 25565
              name: mc-tikiba
          volumeMounts:
            # - name: mc-server-tikiba-config
            #   mountPath: /config/config/paper-global.yml
            #   subPath: paper-global.yml
            - name: mc-tikiba-config
              mountPath: /config/server.properties
              subPath: server.properties
            - name: mc-tikiba-raw
              mountPath: /data
          resources:
            requests:
              memory: 4G
        - name: mc-tikiba-buckup
          image: itzg/mc-backup
          env:
            - name: BACKUP_INTERVAL
              value: "12h"
            - name: RCON_HOST
              value: "mc-tikiba-svc"
            - name: RCON_PASSWORD
              value: "minecraft"
            - name: INITIAL_DELAY
              value: "0"
            - name: TZ
              value: Asia/Tokyo
            - name: EXCLUDES
              value: >-
                .*,
                ops.json,
                *.jar,
                cache,
                logs,
                *.tmp
    volumes:
      - ./paper-data:/data:ro
      - ./paper-backups:/backups

      volumes:
        - name: mc-tikiba-config
          configMap:
            name: mc-server-tikiba-config
        - name: mc-tikiba-raw
          #hostPath:
          #  path: /home/topi/tikiba
          #  type: DirectoryOrCreate
          nfs:
            server: 10.43.20.49
            path: /tikiba/raw
          # persistentVolumeClaim:
          #  claimName: pvc-tikiba
        - name: mc-tikiba-buckups
          nfs:
            server: 10.43.20.49
            path: /tikiba/buckups