apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: samba
  name: samba
spec:
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: samba
  template:
    metadata:
      labels:
        app: samba
    spec:
      nodeName: topi-host
      hostNetwork: true
      containers:
        # https://github.com/ServerContainers/samba/
        - env:
            - name: SAMBA_CONF_SERVER_STRING
              value: topi-datastore

            - name: ACCOUNT_topi
              value: "topi:1000:XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX:026D3A1B6B259F8117869B6785857E7B:[U          ]:LCT-652FA929:"
            - name: UID_topi
              value: "1000"

            - name: ACCOUNT_poteto
              value: "poteto:1000:XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX:4314F790C1E1E07D1AF6C4F0A243C6D8:[U          ]:LCT-6530B335:"
            - name: UID_poteto
              value: "1001"

            - name: SAMBA_VOLUME_CONFIG_homes
              value: >-
                [homes];
                path = /home/%U;
                valid users = topi, poteto;
                comment = %U - topi-datastore;
                browseable = yes;
                writable = yes;

            - name: SAMBA_VOLUME_CONFIG_root
              value: >-
                [root];
                path = /home;
                valid users = topi;
                comment = for admin - topi-datastore;
                browseable = yes;
                writable = yes;
          image: servercontainers/samba
          name: samba
          # ports:
          #   - name: cifs
          #     containerPort: 445
          #   - name: fileprinters
          #     containerPort: 139
          #   - name: nameservice
          #     containerPort: 137
          volumeMounts:
            - name: rootdir
              mountPath: /home

      volumes:
        - name: rootdir
          persistentVolumeClaim:
           claimName: pvc-root
