apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: mc-gateway
  name: mc-gateway
  annotations:
    configmap.reloader.stakater.com/reload: "mc-gateway-config"
spec:
  # レプリカ数の制御を ScaledObject に任せるため、 replicas は指定しない
  # 参考: https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#replicas
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: mc-gateway
  template:
    metadata:
      labels:
        app: mc-gateway
    spec:
      # initContainers:
      #   - name: velocity-config-downloader
      #     image: busybox:1.36.1
      #     env:
      #       - name: URL
      #         value: https://raw.githubusercontent.com/topi-banana/k8s_infra/main/manifests/mc-gateway-velocity/config/velocity.toml
      #     volumeMounts:
      #       - name: velocity-config
      #         mountPath: /root/download/velocity.toml
      #         subPath: velocity.toml
      #     command:
      #       - "sh"
      #       - "-c"
      #       - 'wget -O /root/download/config.yml "${URL}"'
      containers:
      - resources:
          requests:
            memory: 768Mi
        env:
        - name: MEMORY
          value: 768m
        - name: TYPE
          value: VELOCITY
        - name: PLUGINS
          value: >-
            https://hangarcdn.papermc.io/plugins/ViaVersion/ViaVersion/versions/4.8.0/PAPER/ViaVersion-4.8.0.jar,
            https://github.com/ygtdmn/VelocityRcon/releases/download/v1.1/VelocityRcon.jar
        - name: ENABLE_RCON
          value: VELOCITY
        - name: RCON_PORT
          value: "25575"
        - name: RCON_PASSWORD
          value: minecraft
        image: itzg/bungeecord:java17-2022.4.1
        name: velocity
        ports:
        - name: velocity
          containerPort: 25577
        volumeMounts:
        - name: mc-gateway-config
          mountPath: /config/velocity.toml
          subPath: velocity.toml
        - name: mc-gateway-config
          mountPath: /config/forwarding.secret
          subPath: forwarding.secret
      volumes:
      - name: mc-gateway-config
        configMap:
          name: mc-gateway-config
