apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: nfs-server
  name: nfs-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nfs-server
  template:
    metadata:
      labels:
        app: nfs-server
    spec:
      nodeName: topi-server01
      containers:
      - name: nfs-server
        image: itsthenetwork/nfs-server-alpine
        env:
        - name: SHARED_DIRECTORY
          value: /exports
        - name: SYNC
          value: "true"
        securityContext:
          privileged: true
        ports:
        - containerPort: 2049
        volumeMounts:
        - mountPath: /exports
          name: exports
      volumes:
        - name: exports
          hostPath:
            path: /share
            type: DirectoryOrCreate