apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: mc-tikiba-lobby
  name: mc-tikiba-lobby
  annotations:
    configmap.reloader.stakater.com/reload: "mc-tikiba-lobby-config"
spec:
  replicas: 1
  # レプリカ数の制御を ScaledObject に任せるため、 replicas は指定しない
  # 参考: https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#replicas
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: mc-tikiba-lobby
  template:
    metadata:
      labels:
        app: mc-tikiba-lobby
    spec:
      initContainers:
      - name: mc-tikiba-restore-backup
        image: itzg/mc-backup
        command: ["restore-tar-backup"]
        volumeMounts:
        - name: mc-tikiba-raw
          mountPath: /data
        - name: mc-tikiba-backups
          mountPath: /backups
          subPath: tikiba/backups/lobby
      containers:
      - name: mc-tikiba-main
        image: itzg/minecraft-server:java17
        env:
        - name: EULA
          value: "TRUE"
        - name: DIFFICULTY
          value: peaceful
        - name: MODE
          value: adventure
        - name: VERSION
          value: 1.20.1
        - name: TYPE
          value: PAPER
        - name: RCON_PASSWORD
          value: "minecraft"
        - name: OPS
          value: topi_banana,tikiba7
        - name: PLUGINS
          value: >-
            https://cdn-raw.modrinth.com/data/1u6JkXh5/versions/ans4Koju/worldedit-bukkit-7.3.0-beta-02.jar,
            https://cdn-raw.modrinth.com/data/axTqSWQA/versions/gVctECs8/Advanced-Portals-0.9.3.jar,
          #  https://cdn-raw.modrinth.com/data/v0JKJd6u/versions/DPYFeae4/BetterJoinSpawn-1.3.3-SNAPSHOT.jar
          #  https://github.com/PlaceholderAPI/PlaceholderAPI/releases/latest/download/PlaceholderAPI-2.11.4.jar,
        - name: COPY_CONFIG_DEST
          value: /data
        - name: TZ
          value: Asia/Tokyo
        ports:
        - containerPort: 25565
          name: mc-tikiba
        volumeMounts:
        - name: mc-tikiba-config
          mountPath: /config/config/paper-global.yml
          subPath: paper-global.yml
        - name: mc-tikiba-config
          mountPath: /config/server.properties
          subPath: server.properties
        - name: mc-tikiba-raw
          mountPath: /data
      - name: mc-tikiba-backup
        image: itzg/mc-backup
        command:
        - "curl"
        - "-SsL"
        - "https://raw.githubusercontent.com/topi-banana/k8s_infra/main/scripts/backup.sh"
        - "|"
        - "sh"
        env:
        - name: BACKUP_NAME
          value: "tikiba-lobby"
        - name: BACKUP_INTERVAL
          value: "1h"
        - name: RCON_PASSWORD
          value: "minecraft"
        - name: RCON_RETRIES
          value: "-1"
        - name: INITIAL_DELAY
          value: "0"
        - name: TZ
          value: Asia/Tokyo
        volumeMounts:
        - name: mc-tikiba-raw
          mountPath: /data
        - name: mc-tikiba-backups
          mountPath: /backups
          subPath: tikiba/backups/lobby
      volumes:
        - name: mc-tikiba-config
          configMap:
            name: mc-tikiba-lobby-config
        - name: mc-tikiba-raw
        - name: mc-tikiba-backups
          persistentVolumeClaim:
            claimName: root-pvc